<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <h1>Welcome WholePet Health !</h1>
    <p>
        Already have an account? <a href="/login">Login</a>
    </p>
    <p>
        <h5>How to use app:</h5>
        This application was created with pet <span>parents</span> in mind.
        <ul>
            <li>
                The <span>parent dashboard</span> gives you a place to store your information.
                It is recommended to have the most accessible email and phone number linked to the app in case your vet needs to reach you or send you important information.
            </li>
            <li>
                The <span>pet portal</span> has a vast array of features designed to help you keep track of your pet's health.
                It has a compartmentalized layout that allows you to be as simplified or detailed as desired.
            </li>

        </ul> 
        

        <br />
        <a href="/register">Register!</a>
    </p>

</body>
</html>